<div class="container marketing" style="margin-top: 60px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4" ng-repeat="project in projects">
            <img width="140" height="140" alt="Generic placeholder image" ng-src="img/{{project.logo}}" class="img-circle">
            <h2>{{project.name}}</h2>
            <p>{{project.desc}}</p>
            <p><a role="button" href="#/projects/{{project.name}}" class="btn btn-default">View details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div>